$xs: "screen and (min-width: 380px)";
$sm: "screen and (min-width: 490px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 1024px)";
$black: #000;
$white: #fff;
$purper: #7646FF;
$gray: #929497;
$lightgray: #f2f2f2;
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@mixin bg_img($uri) {
    background-image: url($uri);
    @include background-size(cover);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#wrapper {}

p {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    line-height: 1em;
}

h2 {
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

a {
    color: $black;
    cursor: pointer;
}

.-text-purper {
    color: $purper !important;
}

.-text-black {
    color: $black !important;
}

.-block-center {
    margin: 0 auto !important;
}

.-onlylg {
    display: none !important;
    @media #{$lg} {
        display: block !important;
    }
}

.-onlyres {
    display: block !important;
    @media #{$lg} {
        display: none !important;
    }
}
