$xs: "screen and (min-width: 380px)";
$sm: "screen and (min-width: 490px)";
$md: "screen and (min-width: 768px)";
$lg: "screen and (min-width: 1024px)";
$black: #000;
$white: #fff;
$purper: #7646FF;
$gray: #929497;
html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@mixin bg_img($uri) {
    background-image: url($uri);
    @include background-size(cover);
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#wrapper {}

p {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    line-height: 1em;
}
a{
    color: $black;
    cursor: pointer;
}
.-text-purper {
    color: $purper !important;
}

.-block-center{
    margin: 0 auto !important;
}
