// Content //////////////////////////////////
.col-md-6 {
    @media #{$lg} {
        width: 60%;
    }
}

.col-md-5 {
    @media #{$lg} {
        width: 50%;
    }
}


/* pageHeader =====================*/

.pageHeader {
    font-size: 20px;
    font-size: 2.0rem;
    background-color: $black;
    margin-bottom: 20px;
    p {
        font-size: 2em;
        text-transform: uppercase;
        line-height: 1.2em;
        letter-spacing: .2em;
        color: $white;
        margin: 0;
        word-break: break-word;
        @media #{$md} {
            line-height: 1.5em;
        }
        span {
            line-height: 1.2em;
            letter-spacing: .2em;
            margin-right: 20px;
        }
    }
    .pageHeader_block {
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 3.3em 0 2em;
        @media #{$md} {
            width: 60%;
        }
        .pageHeader_text-l {
            display: inline-block;
            vertical-align: text-top;
        }
        .pageHeader_text-r {
            @extend .pageHeader_text-l;
            p {
                @media #{$sm} {
                    margin-top: 49px;
                }
                @media #{$md} {
                    margin-top: 60px;
                }
            }
        }
    }
}


/* section_lead =====================*/

section {
    position: relative;
    overflow: hidden;
    min-height: 8rem;
}

.section-block {
    position: relative;
}

.section-title {
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 14px;
    font-size: 1.4rem;
    width: 100%;
    z-index: 99;
    p {
        color: $white;
        text-transform: uppercase;
        padding: 0px 15px 1px;
        font-size: 1.4em;
        letter-spacing: .1em;
        text-align: left;
        @media #{$lg} {
            padding: 0px 15px 7px;
            text-align: right;
        }
    }
    @media #{$lg} {
        width: 65%;
        transform: rotate(-90deg);
        transform-origin: top left;
        top: inherit;
        bottom: -7%;
    }
}

.section_single .video_container {
    margin-top: 35px;
    @media #{$lg} {
        margin-top: 0px;
    }
}

.video_container {
    position: relative;
    padding-bottom: 45.25%;
    padding-top: 11.25%;
    height: 0;
    overflow: hidden;
    visibility: visible;
    width: 100%;
}

.video_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

iframe {
    padding: 0;
}

.content {
    padding-bottom: 8%;
}

.content-tag {
    float: right;
    color: $gray;
    padding-right: 5px;
}

.content-desc {
    font-size: 14px;
    font-size: 1.4rem;
    padding: 40px 15px 15px;
    width: 86%;
    margin: 0 auto;
    @media #{$sm} {
        width: 47%;
    }
    @media (max-width: 600px) and (min-width: 490px) {
        width: 80%;
    }
    @media #{$lg} {
        width: 70%;
    }
    h2 {
        color: $black;
        font-size: 1.3em;
    }
    p {
        color: $gray;
        font-size: 1.1em;
    }
}


/* section_triple =====================*/

.owl-carousel {
    .owl-item {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &.active.center {
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
    }
    .item {
        position: relative;
        background: transparent;
        height: 15rem;
        overflow: hidden;
        @media #{$sm} {
            height: 19rem;
        }
        @media #{$md} {
            height: 22rem;
        }
        @media #{$lg} {
            height: 31rem;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.bg-purper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    background-color: $purper;
    @media #{$md} {
        height: 9em;
    }
    @media #{$md} {
        height: 12em;
    }
    @media #{$lg} {
        height: 25rem;
    }
}

.section_triple {
    margin-top: -1rem;
    z-index: 1;
    &.first {
        padding-top: 4rem;
        @media #{$sm} {
            padding-top: 6rem;
        }
        @media #{$lg} {
            padding-top: 8rem;
        }
        .bg-purper {
            display: block;
        }
    }
    &.purper_btm {
        .bg-purper {
            display: block;
            top: initial;
            bottom: 30px;
            height: 32rem;
            @media #{$lg} {
                bottom: 50px;
                height: 37rem;
            }
        }
        .content-desc {
            p,
            h2 {
                color: $white;
            }
        }
    }
    .col-md-5 {
        width: 100%;
        @media #{$sm} {
            width: 50%;
        }
        @media #{$lg} {
            width: 50%;
        }
        @media (max-width: 600px) and (min-width: 490px) {
            width: 100%;
        }
    }
    .content-tag {
        padding-right: 48px;
        @media #{$sm} {
            padding-right: 26px;
        }
    }
    .content-desc {
        padding: 10px 15px 15px;
    }
    .video_container {
        //padding-top: 4.25%;
    }
}

.customNavigation {
    i {
        cursor: pointer;
        font-size: 3em;
        &:hover {
            color: $purper;
        }
    }
    .prev {
        position: absolute;
        left: 15%;
        z-index: 2;
        top: 5.5rem;
        color: $white;
        @media #{$sm} {
            left: 8%;
            top: 7.7rem;
        }
        @media #{$md} {
            top: 9rem;
            left: 40px;
        }
        @media #{$lg} {
            top: 14rem;
        }
    }
    .next {
        @extend .prev;
        /* for ie===*/
        text-align: right;
        margin-left: 40px;
        /* ===*/
        left: initial;
        right: 15%;
        @media #{$sm} {
            left: initial;
            right: 8%;
        }
        @media #{$md} {
            left: initial;
            right: 40px;
        }
    }
}

.seeMore {
    @extend .clearfix;
    display: block;
    width: 80%;
    margin: 2em auto 5em;
    text-align: right;
    position: relative;
    @media #{$md} {
        width: 60%;
    }
    &:hover,
    &:focus {
        p.seemore-text {
            text-decoration: underline;
        }
    }
    img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        display: inline-block;
        position: absolute;
        top: -35px;
        right: 0;
        padding: 1px;
    }
    p.seemore-text {
        color: $black;
        margin-top: -13px;
        text-transform: uppercase;
        font-weight: 400;
        display: inline-block;
        white-space: nowrap;
    }
}


/* section_articles =====================*/

.section_side {
    .content {
        position: relative;
        background-color: $black;
        padding-bottom: 0%;
        @media #{$lg} {
            border-top: 1px solid $gray;
            width: 71%;
            display: inline-block;
            background-color: $white;
        }
        .seeMore {
            @media #{$md} {
                width: 44%;
            }
            @media #{$lg} {
                margin: 2em auto .4em;
            }
        }
        .btm_corner {
            width: 10%;
            position: absolute;
            bottom: 0;
            left: -6%;
            z-index: 1;
            pointer-events: none;
            max-width: 110px;
        }
    }
    .content-desc {
        padding: 10px 15px 50px;
        @media screen and (min-width: 600px) {
            //width: 80%;
        }
    }
    .section-title {
        position: relative;
        background-color: $white;
        border-top: 1px solid $gray;
        p {
            color: $black;
        }
        @media #{$md} {
            position: absolute;
        }
        @media #{$lg} {
            transform: rotate(-90deg);
            transform-origin: top right;
            width: 35em;
            top: 0;
            right: 75px;
            bottom: initial;
            left: initial;
        }
    }
    .article_list {
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        width: 100%;
        @media #{$lg} {
            padding-top: 20px;
        }
    }
    .article-content {
        display: -moz-box !important;
        display: flex;
        flex-flow: column wrap;
        @media #{$lg} {
            flex-flow: row wrap;
            width: 75%;
        }
    }
    .article-img {
        margin: 15px auto;
        position: relative;
        text-align: center;
        /*
            display: flex;
            //flex: 1 1 20%;
            //padding-right: 20px;
            flex: 1 0 auto;
            min-height: 30rem;
            height: auto;
            position: relative;
            overflow: hidden;
            width: 60%;
            */
        @media #{$md} {
            margin: 70px auto 20px;
        }
        @media #{$lg} {
            flex: 1 1 20%;
            margin: 22px auto 20px;
            text-align: left;
        }
        img {
            width: 60%;
            margin: 0 auto;
            border: 4px solid $white;
            /*
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                */
            @media screen and (min-width: 600px) {
                width: 50%;
            }
            @media #{$md} {
                width: 50%;
            }
            @media #{$lg} {
                width: 100%;
                max-width: 250px;
                border: 4px solid $black;
            }
        }
    }
    .article-detail {
        display: flex;
        flex: 1;
        flex: 1 0 auto;
        flex-flow: column wrap;
        padding: 0px;
        overflow: hidden;
        min-height: 260px;
        font-size: 14px;
        font-size: 1.4rem;
    }
    .article--title {
        text-transform: uppercase;
        margin-bottom: 10px;
        p {
            font-size: 1.4em;
            font-weight: 300;
            color: $white;
            @media #{$lg} {
                color: $black;
            }
        }
    }
    .article--spec p {
        font-size: 1em;
        color: $gray;
    }
    .article--text p {
        margin: 15px 0;
        p {
            font-size: 1.3em;
            color: $gray;
        }
    }
    [class*=col-],
    [class^=col-] {
        margin-left: 0px;
        margin-right: 0px;
    }
    .leftside_title {
        @media #{$lg} {
            width: 25%;
            margin-right: 4%;
            float: left;
            display: inline-block;
            height: 60em;
            background-color: $black;
        }
    }
}

.seeMore.-onlyres {
    margin: 3.5em auto 3em !important;
}

.col-onlylg-3 {
    width: initial;
    position: relative;
    @media #{$lg} {
        width: 30%;
    }
}


/* section_singleLong =====================*/

.content-img {
    position: relative;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.section_singleLong {
    margin-top: 6em;
    @media #{$lg} {
        margin-top: 9em;
    }
    .content-desc {
        @media #{$sm} {
            margin: 0 0 0 3em;
        }
        h2 span {
            font-family: "kanit";
            font-weight: 400;
            text-transform: uppercase;
            margin-right: 1.5em;
            letter-spacing: 4px;
            word-wrap: break-word;
            @media #{$sm} {
                word-wrap: normal;
            }
        }
    }
    .section-title {
        position: relative;
        background-color: $white;
        border-top: 1px solid $gray;
        @media #{$lg} {
            position: absolute;
            top: 6.5em;
            bottom: initial;
            left: 11em;
        }
        p {
            color: $black;
            @media #{$lg} {
                text-align: left;
            }
        }
    }
}

.purper_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity .15s ease;
    padding: 8px;
    border: 13px solid rgba(88, 70, 225, .75);
    .overlay {
        width: inherit;
        height: inherit;
        background: rgba(88, 70, 225, .75);
    }
    &:hover{
        opacity: 1;
    }
}

// End Content //////////////////////////////////
