 // Header //////////////////////////////////
 .navbar nav>ul>li.navbar-title button {
     display: block;
     @media #{$md} {
         display: none;
     }
     color: $white !important;
     &:hover {
         color: $purper !important;
     }
 }
 
 .navbar nav>ul>li>a:not([role=button]).active,
 .navbar nav>ul>li>a:not([role=button]):hover {
     background: transparent;
     border-color: transparent;
     color: rgba(0, 0, 0, .85);
 }
 
 .navbar {
     padding: 20px;
     background-color: $black;
     margin-bottom: 0;
     .collapse {
         display: none;
         @media #{$md} {
             display: inherit;
         }
     }
     a {
         color: $white !important;
         &:hover {
             color: $purper !important;
         }
     }
     .navbar-title {
         a > img {
             width: 35%;
             min-width: 120px;
         }
     }
     .navLogo {
         flex: 1;
     }
     .navList {
         @media #{$md} {
             li {
                 padding: 0 45px;
             }
         }
     }
 }
 
 .pageHeader {
     font-size: 20px;
     font-size: 2.0rem;
     background-color: $black;
     p {
         font-size: 2em;
         text-transform: uppercase;
         line-height: 1.5em;
         letter-spacing: .2em;
         color: $white;
         margin: 0;
     }
     .pageHeader_block {
         display: block;
         width: 90%;
         margin: 0 auto;
         padding: 3.3em 0 2em;
         @media #{$md} {
             width: 60%;
         }
         .pageHeader_text-l {
             display: inline-block;
             vertical-align: text-top;
         }
         .pageHeader_text-r {
             @extend .pageHeader_text-l;
             p {
                 @media #{$sm} {
                     margin-top: 60px;
                 }
             }
         }
     }
 }
 
 // End Header //////////////////////////////////
