extends ./layout/_base

block var
	-var currentPage = "contact"

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| contact
					span.-text-white
						| us


		// section 1
	section.section_single.-bg-black
		.row
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						form.form
							.form_group
								label(for='name') Name
								input#name(type='text')
							//-
								.form_group
									label(for='lname') Last name
									input#lname(type='text')
							.form_group
								label(for='cop') Company
								input#cop(type='text')
							.form_group
								label(for='mail') E-mail
								input#mail(type='email')
							.form_group
								label(for='tel') Tel
								input#tel(type='tel')
							.form_group
								label(for='query') Query
								textarea#query(type='text')
							input.submit_btn(type='submit')


	//- end content
	//-include ./layout/_footer

