extends ./layout/_base

block var
	-var currentPage = "contact"
	//-localhost
	//-script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCr2-0AVfANx-ve-u5Xwe2RmNVlDtc0z5w&callback=initMap" async defer)

	//-nml
	script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMwpjIIXH6tjHdd9attJjPWnJ4umZiVZM&callback=initMap" async defer)

	script(type='text/javascript').
		var map;
			function initMap() {
			var myLatLng = {lat: 13.792931, lng: 100.544466};
				map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 13.792931, lng: 100.544466},
				zoom: 14,
				styles:
							[
			    {
			        "featureType": "all",
			        "elementType": "labels.text.fill",
			        "stylers": [
			            {
			                "saturation": 36
			            },
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 40
			            }
			        ]
			    },
			    {
			        "featureType": "all",
			        "elementType": "labels.text.stroke",
			        "stylers": [
			            {
			                "visibility": "on"
			            },
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 16
			            }
			        ]
			    },
			    {
			        "featureType": "all",
			        "elementType": "labels.icon",
			        "stylers": [
			            {
			                "visibility": "off"
			            }
			        ]
			    },
			    {
			        "featureType": "administrative",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 20
			            }
			        ]
			    },
			    {
			        "featureType": "administrative",
			        "elementType": "geometry.stroke",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 17
			            },
			            {
			                "weight": 1.2
			            }
			        ]
			    },
			    {
			        "featureType": "landscape",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 20
			            }
			        ]
			    },
			    {
			        "featureType": "poi",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 21
			            }
			        ]
			    },
			    {
			        "featureType": "road.highway",
			        "elementType": "geometry.fill",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 17
			            }
			        ]
			    },
			    {
			        "featureType": "road.highway",
			        "elementType": "geometry.stroke",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 29
			            },
			            {
			                "weight": 0.2
			            }
			        ]
			    },
			    {
			        "featureType": "road.arterial",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 18
			            }
			        ]
			    },
			    {
			        "featureType": "road.local",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 16
			            }
			        ]
			    },
			    {
			        "featureType": "transit",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#000000"
			            },
			            {
			                "lightness": 19
			            }
			        ]
			    },
			    {
			        "featureType": "water",
			        "elementType": "geometry",
			        "stylers": [
			            {
			                "color": "#7646ff"
			            },
			            {
			                "lightness": 17
			            }
			        ]
			    }
			]
			});
			var marker = new google.maps.Marker({
				position: myLatLng,
				map: map,
				title: '33 SPACE PRADIPAT'
			});
		}

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader.contact
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| contact
					span.-text-white
						| us


		// section 1
	section.section_single.-bg-black
		.row
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						form.form
							.form_group
								//-label(for='name') Name
								input#name(type='text' placeholder="Name")
							//-
								.form_group
									label(for='lname') Last name
									input#lname(type='text')
							.form_group
								//-label(for='cop') Company
								input#cop(type='text' placeholder="Company")
							.form_group
								//-label(for='mail') Email
								input#mail(type='email' placeholder="Email")
							.form_group
								//-label(for='tel') Tel
								input#tel(type='tel' placeholder="Tel")
							.form_group
								//-label(for='query') Query
								textarea#query(type='text' placeholder="Query")
							input.submit_btn(type='submit')

	section.section_single.-full_width
		.row
			.col-12.-block-center.section-block
				#map


	//- end content
	//-include ./layout/_footer

block js




	




