extends ./layout/_base
block var
	-var currentPage = "home"

block title
	title Neumerlin

block body
	include ./layout/_header   
	//- content 

	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| Trans- <br>
					| forming
			.pageHeader_text-r
				p
					| Brand <br>
					| to <br>
					| Business
				
	// section 1
	section.section_single
		.row
			.col-12.col-md-6.-block-center.section-block
				.section-title
					p what you can expect
				.content
					.video_container
						iframe(class="vimeo" src="https://player.vimeo.com/video/64542720?color=7646FF&title=0&byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen )
					.content-tag
						p VDO Series
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.

	// section 2
	section.section_triple.first
		.bg-purper
		.row
			.col-12.section-block
				.col-12.col-md-5.-block-center.section-block
					.customNavigation
						i.prev.fa.fa-angle-left 
						i.next.fa.fa-angle-right
				.owl-carousel.loop
					.item
						img(src="https://unsplash.it/1200/600?image=70", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=96", alt="")
					.item
						img(src="http://placehold.it/1200x600", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=39", alt="")
			.col-12.col-md-5.-block-center
				.content-tag
					p PRINT ADs
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.

	// section 2.2
	section.section_triple
		.bg-purper
		.row
			.col-12.section-block
				.col-12.col-md-5.-block-center.section-block
					.customNavigation
						i.prev.fa.fa-angle-left 
						i.next.fa.fa-angle-right
				.owl-carousel.loop
					.item
						img(src="https://unsplash.it/1200/600?image=96", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=70", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=122", alt="")
						//-
							.video_container
									iframe(class="vimeo" src="https://player.vimeo.com/video/64542720?color=7646FF&title=0&byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen )
					.item
						img(src="https://unsplash.it/1200/600?image=39", alt="")
			.col-12.col-md-5.-block-center
				.content-tag
					p PRINT ADS
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.


	// section 3
	section.section_single
		.row
			.col-12.col-md-6.-block-center.section-block
				//-
					.section-title
						p what you can expect
				.content
					.video_container
						iframe(class="vimeo" src="https://player.vimeo.com/video/179940346?color=7646FF&title=0&byline=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen )
					.content-tag
						p VDO Series
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.


	// section 4
	section.section_triple.purper_btm
		.bg-purper
		.row
			.col-12.section-block
				.col-12.col-md-5.-block-center.section-block
					.customNavigation
						i.prev.fa.fa-angle-left 
						i.next.fa.fa-angle-right
				.owl-carousel.loop
					.item
						img(src="https://unsplash.it/1200/600?image=39", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=96", alt="")
					.item
						img(src="http://placehold.it/1200x600", alt="")
					.item
						img(src="https://unsplash.it/1200/600?image=70", alt="")
			.col-12.col-md-5.-block-center
				.content-tag
					p PRINT ADs
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.


	.seeMore
		a(href="#")
			img(src="./images/seemore_arrow.png")
			p.seemore-text see more stories


	// section 5
	section.section_side
		.row
			.col-12.-block-center.section-block
				.leftside_title.section-block
					.section-title
						p what 's on
				.content
					img.btm_corner.-onlylg(src="./images/btm_corner.png")
					//- article_list
					.article_list
						.article-content
							.article-img
								img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										p.
											The talk “Around and Around” 
											on how to find artistic inspirations and 
											how to design and create contemporary 
											jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun. 

					//- article_list
					.article_list
						.article-content
							.article-img
								img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										p.
											The talk “Around and Around” 
											on how to find artistic inspirations and 
											how to design and create contemporary 
											jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun.
					//- article_list
					.article_list
						.article-content
							.article-img
								img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										p.
											The talk “Around and Around” 
											on how to find artistic inspirations and 
											how to design and create contemporary 
											jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun. 

					.seeMore.-onlylg
						a(href="#")
							img(src="./images/seemore_arrow.png") 
							p.seemore-text see more word
	.seeMore.-onlyres
		a(href="#")
			img(src="./images/seemore_arrow.png")
			p.seemore-text see more words


	// section 6
	section.section_singleLong
		.row
			.col-12.col-md-6.-block-center.section-block
				.section-title
					p dude
				.content
					a(href="#")
						.content-img.long
							img(src="./images/godfather.jpg", alt="")
							.purper_hover
								.overlay
					.content-desc
						p.
							Creativity Make Impossible To Possible Innovation <br>
							Merlin Have a Magic Neumerlin Have a Creativity
						h2 
							span Diversity.
							span Synergy.
							span Efficeincy.

	//- end content
	include ./layout/_footer


block js
	//- script here