extends ./layout/_base

block title
	title hi

block body
	include ./layout/_header   
	//- content 
	section.section_lead
		.row
			.col-12.col-md-6.-block-center.section_lead-block
				.section-title
					p what you can expect
				.content
					.video_container
						iframe(class="vimeo" src="https://player.vimeo.com/video/64542720" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen )
					.content-tag
						p VDO Series
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p 
							| Inspired by cinematic landscape of Mt.Rainier in United States, 
							|	Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							|	at about  one million cups daily for decade.





	//- end content
	include ./layout/_footer


block js
	//- script here