extends ./layout/_base

block var
	-var currentPage = "read"

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| read
					span.-text-white
						| s


	// section 1 (Article)
	section.section_side
		.row
			.col-12.-block-center.section-block
				.leftside_title.section-block
					.section-title
						p what 's on
				.content
					img.btm_corner.-onlylg(src="./images/btm_corner.png")
					//- article_list
					.article_list
						.article-content
							.article-img
								a(href="./read-single.html")
									img(src="./images/article01.jpg", alt="")
							.content-desc
								.article-detail
									.article--title
										a(href="./read-single.html")
											p.
												The talk “Around and Around” 
												on how to find artistic inspirations and 
												how to design and create contemporary 
												jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun. 

					//- article_list
					.article_list
						.article-content
							.article-img
								a(href="./read-single.html")
									img(src="https://unsplash.it/1280/800?image=87", alt="")
							.content-desc
								.article-detail
									.article--title
										a(href="./read-single.html")
											p.
												The talk “Around and Around” 
												on how to find artistic inspirations and 
												how to design and create contemporary 
												jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun.
					//- article_list
					.article_list
						.article-content
							.article-img
								a(href="./read-single.html")
									img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										a(href="./read-single.html")
											p.
												The talk “Around and Around” 
												on how to find artistic inspirations and 
												how to design and create contemporary 
												jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun. 
					//- article_list
					.article_list
						.article-content
							.article-img
								a(href="./read-single.html")
									img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										a(href="./read-single.html")
											p.
												The talk “Around and Around” 
												on how to find artistic inspirations and 
												how to design and create contemporary 
												jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun.
					//- article_list
					.article_list
						.article-content
							.article-img
								a(href="./read-single.html")
									img(src="http://placehold.it/800x1000", alt="")
							.content-desc
								.article-detail
									.article--title
										a(href="./read-single.html")
											p.
												The talk “Around and Around” 
												on how to find artistic inspirations and 
												how to design and create contemporary 
												jewelry with strong brand identity
									.article--spec
										p
											| When: 
											span 16 August 2016 | 19.00 – 20.30
										p
											| Where: 
											span Auditorium, TCDC

									.article--text
										p.
											Find the inspiration in creating work piece and learn the art of contemporary jewelry design with Jiro Kamata, an international contemporary jewelry 
											designer and artist. Jiro is going to introduce his background, his work, 
											his thinking, designing and working process, his time at the Academy of 
											Fine Arts Munich, his contemporary Jewelry exhibitions, his source of Inspirations, the Journey, lights, reflections and the sun. 


	//- end content
	include ./layout/_footer

