extends ./layout/_base

block var
	-var currentPage = "we"

block title
	title Neumerlin | We

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p
					| value 
					span.-text-purper
						| and
					| belief

	// section 1
	section.section_single.longRight
		.row
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						h2 
							| A Million 
							span.-text-purper Cup a day in 
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has<br> <br>been readily serving Japanese people 
							at about  one million cups daily for decade.<br><br>
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.

	// section 2
	section.section_single.we.longRight
		.row
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						.we_leftBlock
							.section-title
								p what we do
						.we_rightBlock
							h2 
								| We
							p
								| Inspired by cinematic<br>
								| cinematic 
								span.-text-black  landscape of Mt.Rainier

	// section 3
	section.section_fourcolumn
		.row
			.col-12.-block-center.section-block
				.content
					ul.fourcolumn_block
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item.-text-black
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development
						li.fourcolumn_item 
							p.fourcolumn-text branding and product concept development

	// section 4
	section.section_triple.first
		.bg-purper
		.row
			.col-12.section-block
				.col-12.col-md-5.-block-center.section-block
					.customNavigation
						i.prev.fa.fa-angle-left 
						i.next.fa.fa-angle-right
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							img(src="https://unsplash.it/1200/600?image=70", alt="")
						.swiper-slide
							img(src="https://unsplash.it/1200/600?image=96", alt="")
						.swiper-slide
							img(src="http://placehold.it/1200x600", alt="")
						.swiper-slide
							img(src="https://unsplash.it/1200/600?image=39", alt="")
			.col-12.col-md-5.-block-center
				.content-tag
					p PRINT ADs
			.col-12.col-md-6.-block-center.section-block
				.content
					.content-desc
						h2 
							| A Million Cup a day in Japan. First chilled cup fresh coffee that hit Thai market!
						p.
							Inspired by cinematic landscape of Mt.Rainier in United States, 
							Mt.Raineir chilled cup coffee has been readily serving Japanese people 	
							at about  one million cups daily for decade.

					




	//- end content
	//include ./layout/_footer


block js
	//- script here