extends ./layout/_base

block title
	title Neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p
					| value 
					span.-text-purper
						| and
					| belief
	p.tt xxxxxxxxxxxxxx


	//- end content
	//include ./layout/_footer


block js
	//- script here