extends ./layout/_base

block var
	-var currentPage = "work"

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| work
					span.-text-white
						| s


	// threecolumn
	section.section_threecolumn
		.row
			.col-12.-block-center.section-block
				.content
					ul.threecolumn_block
						li.threecolumn_item 
							img(src="http://placehold.it/1280x800?text=1", alt="")
							p.threecolumn-text branding and product concept development
						li.threecolumn_item 
							img(src="http://placehold.it/1280x800?text=2", alt="")
							p.threecolumn-text branding and product concept development
						li.threecolumn_item 
							img(src="http://placehold.it/1280x800?text=3", alt="")
							p.threecolumn-text branding and product concept development
						li.threecolumn_item 
							img(src="http://placehold.it/1280x800?text=4", alt="")
							p.threecolumn-text branding and product concept development




	//- end content
	//include ./layout/_footer

