extends ./layout/_base

block var
	-var currentPage = "work"

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| work
					span.-text-white
						| s


	// threecolumn
	section.section_threecolumn
		.row
			.col-12.-block-center.section-block
				.content
					ul.threecolumn_block
						li.threecolumn_item 
							a(href="./work-single.html")
								.fullbg(style="background-image: url('./images/work01.jpg'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('http://placehold.it/800x1600'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('./images/work02.jpg'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('./images/work03.jpg'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States	
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('./images/work04.jpg'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('http://placehold.it/1280x800'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								.fullbg(style="background-image: url('https://unsplash.it/600/1850?image=78'")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States


	//- end content
	include ./layout/_footer

