extends ./layout/_base

block var
	-var currentPage = "work"

block title
	title WORK | neumerlin

block body
	include ./layout/_header   
	//- content 
	//pageHeader
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| work
					span.-text-white
						| s


	// threecolumn
	section.section_threecolumn
		.row
			.col-12.-block-center.section-block
				.content
					ul.threecolumn_block
						li.threecolumn_item 
							a(href="#")
								img(src="./images/work01.jpg", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								img(src="http://placehold.it/1280x800", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								img(src="./images/work02.jpg", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								img(src="./images/work03.jpg", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States	
						li.threecolumn_item 
							a(href="#")
								img(src="./images/work04.jpg", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								img(src="http://placehold.it/1280x800", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States
						li.threecolumn_item 
							a(href="#")
								img(src="http://placehold.it/1280x800", alt="")
								.purper_hover
									.overlay
									p.threecolumn-text L'Oréal France Wine
										span.threecolumn-desc.
											Inspired by cinematic landscape of Mt.Rainier in United States


	//- end content
	include ./layout/_footer

