/* section_single.longRight =====================*/

.section_single.longRight {
    .content-desc {
        width: 100%;
        margin: 0 auto;
        padding: 40px 40px 15px;
        @media #{$sm} {
            padding: 40px 15px 15px 15px;
            width: 80%;
        }
        @media #{$md} {
            margin: 0 0 0 5.5em;
        }
        @media #{$lg} {
            width: 100%;
        }
    }
}


/* section_single.we =====================*/

.section_single.we {
    background-color: $purper;
    overflow-x: hidden;
    .content {
        max-height: 25rem;
    }
    .content-desc {
        padding: 0 15px 15px 0;
        @media #{$sm} {
            white-space: nowrap;
            padding: 0 15px 15px 15px;
        }
        /*
        width: 100%;
        padding: 0 0px 15px;
        @media #{$sm} {
            width: 80%;
            padding: 0px 15px 15px;
            white-space: nowrap;
        }
        @media #{$md} {
            width: 75%;
        }
        @media #{$lg} {
            width: 70%;
        }
        */
        h2 {
            color: $white;
            font-size: 12.3em;
            line-height: .57em;
            margin: 0;
            @media #{$sm} {
                font-size: 13.3em;
            }
        }
        p {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 400;
            padding-left: 2.3em;
            padding-top: .6em;
            line-height: 20px;
        }
        span {
            font-weight: 400;
        }
        .we_leftBlock {
            position: relative;
            float: left;
            width: 20%;
            height: auto;
            min-height: 25rem;
            display: inline;
            @media #{$sm} {
                width: 10rem;
            }
            @media #{$md} {
                min-height: 25rem;
            }
            @media #{$lg} {
                min-height: 26rem;
                //width: 30rem;
            }
        }
        .we_rightBlock {
            display: inline;
            @media #{$sm} {
                display: inline-block;
                //width: 30rem;
            }
            @media #{$lg} {
                display: inline-block;
                white-space: nowrap;
                //width: 30rem;
            }
        }
        .section-title {
            transform: rotate(-90deg);
            width: 27rem;
            bottom: -24%;
            transform-origin: top left;
            top: inherit;
            p {
                letter-spacing: 7px;
                text-align: right;
            }
            @media #{$sm} {
                bottom: -24%;
            }
        }
    }
}


/* section_fourcolumn =====================*/

.section_fourcolumn {}

.fourcolumn_block {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-top: 3px solid $white;
    .fourcolumn_item {
        text-transform: uppercase;
        background: url("http://placehold.it/800x450");
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center !important;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        color: white;
        @media #{$sm} {
            width: 50%
        }
        @media #{$md} {
            width: 33.3333%;
            height: 220px;
        }
        @media #{$lg} {
            width: 25%;
        }
        .fourcolumn-text {
            font-weight: 500;
            font-size: 1.6em;
            text-align: center;
        }
        &:nth-child(1) {
            background: url("https://unsplash.it/800/450?image=274");
        }
        &:nth-child(6) {
            background: url("https://unsplash.it/800/450?image=40");
        }
    }
}

.section_side.we_client {
    margin-bottom: 8%;
    .section-title {
        @media #{$lg} {
            top: 10px;
            background-color: transparent;
            border-top: none;
            p {
                color: $white;
            }
        }
    }
    .content {
        background-color: $white;
        padding: 0px 0;
        @media #{$md} {
            padding: 40px 0 0;
        }
        @media #{$lg} {
            padding: 23px 0;
            border-bottom: 1px solid $gray;
        }
    }
    .leftside_title {
        @media #{$lg} {
            height: 30em;
        }
    }
    .swiper-container .swiper-slide {
        @media #{$lg} {
            height: 37rem;
        }
    }
}
