/* section_single.longRight =====================*/

.section_single.longRight {
    .content-desc {
        width: 100%;
        margin: 0 auto;
        padding: 40px 40px 15px;
        @media #{$sm} {
            padding: 40px 15px 15px 15px;
            width: 80%;
        }
        @media #{$md} {
            margin: 0 0 0 5.5em;
        }
        @media #{$lg} {
            width: 100%;
        }
    }
}


/* section_single.we =====================*/

.section_single.we {
    background-color: $purper;
    overflow-x: hidden;
    .content {
        max-height: 25rem;
    }
    .content-desc {
        padding: 0 15px 15px 0;
        @media #{$sm} {
            white-space: nowrap;
            padding: 0 15px 15px 15px;
        }
        /*
        width: 100%;
        padding: 0 0px 15px;
        @media #{$sm} {
            width: 80%;
            padding: 0px 15px 15px;
            white-space: nowrap;
        }
        @media #{$md} {
            width: 75%;
        }
        @media #{$lg} {
            width: 70%;
        }
        */
        h2 {
            color: $white;
            font-size: 12.3em;
            line-height: .57em;
            margin: 0;
            @media #{$sm} {
                font-size: 13.3em;
            }
        }
        p {
            color: $white;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 400;
            padding-left: 2.3em;
            padding-top: .6em;
            line-height: 20px;
        }
        span {
            font-weight: 400;
        }
        .we_leftBlock {
            position: relative;
            float: left;
            width: 20%;
            height: auto;
            min-height: 25rem;
            display: inline;
            @media #{$sm} {
                width: 10rem;
            }
            @media #{$md} {
                min-height: 25rem;
            }
            @media #{$lg} {
                min-height: 26rem;
                //width: 30rem;
            }
        }
        .we_rightBlock {
            display: inline;
            @media #{$sm} {
                display: inline-block;
                //width: 30rem;
            }
            @media #{$lg} {
                display: inline-block;
                white-space: nowrap;
                //width: 30rem;
            }
        }
        .section-title {
            transform: rotate(-90deg);
            width: 27rem;
            bottom: -24%;
            transform-origin: top left;
            top: inherit;
            p {
                letter-spacing: 7px;
                text-align: right;
            }
            @media #{$sm} {
                bottom: -24%;
            }
        }
    }
}


/* section_fourcolumn =====================*/

.section_fourcolumn {}

.fourcolumn_block {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-top: 3px solid $white;
    .fourcolumn_item {
        text-transform: uppercase;
        background: url("http://placehold.it/800x450");
        background-repeat: no-repeat !important;
        background-size: cover;
        background-position: center center;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        color: white;
        @media #{$sm} {
            width: 50%
        }
        @media #{$md} {
            width: 33.3333%;
            height: 220px;
        }
        @media #{$lg} {
            width: 25%;
        }
        .fourcolumn-text {
            text-align: center;
            font-weight: 500;
            font-size: 1.5em;
            line-height: 1.1em;
            letter-spacing: .1em;
            word-break: break-word;
        }
        &:nth-child(1) {
            background: url("../images/we_mood/01.jpg");
            background-position: 100%;
            background-size: 145%;
            justify-content: flex-end;
            .fourcolumn-text {
                width: 65%;
                text-align: left;
            }
        }
        &:nth-child(2) {
            background: url("../images/we_mood/02.jpg");
            background-position: 96% 70%;
            background-size: 145%;
        }
        &:nth-child(3) {
            background: url("../images/we_mood/03.jpg");
            background-position: 60% 10%;
            background-size: 140%;
            .fourcolumn-text {
                color: #984205;
            }
        }
        &:nth-child(4) {
            background: url("../images/we_mood/04.jpg");
            background-position: 100%;
            background-size: 145%;
            justify-content: flex-end;
            .fourcolumn-text {
                margin-right: 20px;
                color: $black;
                width: 75%;
                text-align: right;
            }
        }
        &:nth-child(5) {
            background: url("../images/we_mood/05.jpg");
            background-position: 50%;
            background-size: 170%;
            .fourcolumn-text {
                color: #6A5406;
            }
        }
        &:nth-child(6) {
            background: url("../images/we_mood/06.jpg");
            background-position: 100% 0;
            background-size: 145%;
            justify-content: center;
        }
        &:nth-child(7) {
            background: url("../images/we_mood/07.jpg");
            background-position: 100% 100%;
            background-size: 145%;
            justify-content: center;
        }
        &:nth-child(8) {
            background: url("../images/we_mood/08.jpg");
            background-position: 20% 25%;
            background-size: 145%;
              justify-content: flex-end;
             .fourcolumn-text {
                width: 60%;
                text-align: left;
                color: #737373;
            }
        }
    }
}


/* section_we_client =====================*/

.swiper-container {
    width: 100%;
    .swiper-slide {
        position: relative;
        background: transparent;
        text-align: center;
        font-size: 18px;
        width: 60%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 15rem;
        overflow: hidden;
        @media #{$sm} {
            height: 19rem;
        }
        @media #{$md} {
            height: 22rem;
        }
        @media #{$lg} {
            height: 32rem;
        }
        // -webkit-filter: grayscale(100%);
        //filter: grayscale(100%);
        &.swiper-slide-active {
            // -webkit-filter: grayscale(0);
            // filter: grayscale(0);
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}

.section_side.we_client {
    margin-bottom: 8%;
    .section-title {
        @media #{$lg} {
            top: 10px;
            background-color: transparent;
            border-top: none;
            p {
                color: $white;
            }
        }
    }
    .content {
        background-color: $white;
        padding: 0px 0;
        @media #{$md} {
            padding: 40px 0 0;
        }
        @media #{$lg} {
            padding: 23px 0;
            border-bottom: 1px solid $gray;
        }
    }
    .leftside_title {
        @media #{$lg} {
            height: 30em;
        }
    }
    .swiper-container .swiper-slide {
        @media #{$lg} {
            height: 37rem;
        }
    }
}


/* section_gangster =====================*/

.section_singleLong.gangster {
    overflow-x: hidden;
    .gangster-block {
        margin-left: 0;
        @media #{$sm} {
            //margin-left: 6.5rem;
        }
        @media #{$lg} {
            //margin-left: calc(16.66667% + 7.5px);
        }
        .swiper-slide {}
    }
    .swiper-container {
        margin: 0 auto 0;
        @media #{$lg} {
            margin: 5% auto 0;
        }
        .swiper-slide {
            width: 60%;
            margin-left: -2px;
            margin-top: -1.5em;
            height: 27rem;
            display: block;
            padding-top: 2em;
            max-width: 205px;
            @media #{$sm} {
                height: 24rem;
            }
            @media #{$md} {
                height: 25rem;
            }
            @media #{$lg} {
                height: 35rem;
            }
            &:hover {
                span {
                    opacity: 1;
                }
            }
            img {
                width: 100%;
                position: relative;
                top: auto;
                left: auto;
                -webkit-transform: translate(0);
                transform: translate(0);
            }
            span {
                width: 100%;
                text-align: left;
                font-family: Kanit, sans-serif;
                font-weight: 300;
                font-size: .8em;
                line-height: 1em;
                display: flex;
                align-self: flex-end;
                flex-flow: column wrap;
                opacity: 0;
                transition: opacity .3s;
            }
        }
    }
    .section-title {
        border: none;
        @media #{$lg} {
           left: 30%;
        }
    }
}

.bg-gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8em;
    background-color: $lightgray;
    @media #{$md} {
        height: 9em;
    }
    @media #{$md} {
        height: 12em;
    }
    @media #{$lg} {
        height: 25rem;
    }
}
