footer
	.row
		.col-12.col-md-6.-block-center.section-block
			p.
				All rights reserved. NeuMerlin Company Limited.<br>
			p.
				15 Soi Pradipat 17 Pradipat Rd. Samsean-Nai Phayathai Bangkok 10400 Thailand<br>
				Tel (66) 2618 3155, 3166 Fax (66) 2618 3177 contact@neumerlin.com