header
	.navbar
		nav
			ul.navLogo
				li.navbar-title
					a(href="#"): img(src="images/nml_logo.png", alt="")
					button(role="button" onclick="openNavList()") =
			ul.navList.collapse
				li
					a(href="#") WE
				li
					a(href="#") WOrK
				li
					a(href="#") ReAD
				li
					a(href="#") ContAct
	
	.pageHeader
		.pageHeader_block
			.pageHeader_text-l
				p.-text-purper
					| Trans- <br>
					| forming
			.pageHeader_text-r
				p
					| Brand <br>
					| to <br>
					| Business
				