header
	.navbar
		nav
			ul
				li.navbar-title
					a(href="#") Neumerlin
					button(role="button" onclick="openNavList()") =
			ul.navList.collapse
				li
					a(href="#") WE
				li
					a(href="#") WOrK
				li
					a(href="#") ReAD
				li
					a(href="#") ContAct
